.container {
    display: flex;
    flex-flow: wrap;
}

.left {
    width: 25%;
    order: 1;
    background-color: LightPink;
}

.right {
    width: 25%;
    order: 3;
    background-color: LightSteelBlue;
}

.content {
    width: 50%;
    order: 2;
    background-color: LightGoldenRodYellow;
}